body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightblue;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#zoomOut {
  position: absolute;
  bottom: 5px;
  left: 100px;
  background-color: red;
  color: white;
  font-size: 1.2em;
  border-radius: 10%;
  cursor: pointer;
  z-index: 1;
  display: none;
}

#searchwrapper {
  position: absolute;
  padding: 20px;
  width: 575px;
  max-width: 100%;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  transition: all ease-in-out 0.3s;
}
#searchwrapper.close {
  transform: translate3d(-100%, 0, 0);
}
.bar {
  position: relative;
  display: flex;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  background: white;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 1;
}
.bar:hover {
  box-shadow: 1px 1px 8px 1px #ccc;
}
.bar:focus-within {
  box-shadow: 1px 1px 8px 1px #ccc;
  outline: none;
}
.searchbar {
  flex-grow: 1;
  height: 45px;
  border: none;
  font-size: 16px;
  outline: none;
}
#searchbutton {
  background: transparent;
  border: none;
}
#results {
  position: relative;
  display: none;
  background: white;
  border-radius: 0px 0px 10px 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  padding: 10px;
  z-index: 0;
}
#results ul {
  margin-top: 0;
}
.buttonimage {
  display: block;
  height: 20px;
  position: relative;
}
.pointer-none {
  pointer-events: none;
}

.tour-item {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
}
.tour-item:hover {
  background: #eee;
}
